/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
/* Top-bar/Header */

header{
    background-color: rgb(49,97,224);
    color: white;
}

.top-bar{
    height: 100px;
    line-height: 100px;
}

/* Dimensioni e posizionamento colonne  */

.col{
    float: left;
}

.w-20{
    width: 20%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

/* Centering */

.text-center{
    text-align: center;
}

/* logo */

#logo{
    vertical-align: middle;
}

/* Menu & related*/

li{
    display: inline-block;
    margin: 0 25px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

/* Buttons */

.button{
    margin: 0 20px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: black;
    color: white;
}

.small{
    border-radius: 25px;
    padding: 15px 20px;
}

.big{
    border-radius: 40px;
    padding: 25px 25px;
    font-size: 1.8em;
}

/* Spotlight */

.spotlight{
    min-height: 600px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.w-50{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 3.5em;
    margin-bottom: 50px;
}

p{
    font-size: 1.4em;
    max-width: auto;
    font-weight: bold;
}

.bottom-header{
    position: absolute;
    bottom: -60%;
}

.arrow{
    font-size: 1.2em;
}